doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet' href='css/style.css')
        link(rel='stylesheet' href='css/index1.css')
    body
        div.page
            div.header
                case data.preview_images
                    when null
                        img.avatar(src='https://www.w3schools.com/howto/img_avatar.png')
                    default
                        case data.preview_images.length
                            when 0
                                img.avatar(src='https://www.w3schools.com/howto/img_avatar.png')
                            default
                                img.avatar(src=data.preview_images[0])
                h3.title.full-name #{data.first_name} #{data.last_name}
                div.contacts
                    div.contacts-row
                        case !!data.phone
                            when true
                                span.phone-number #{data.phone}
                        case !!data.phone && !!data.email
                            when true
                                span #{' - '}
                        case !!data.email
                            when true
                                span.email-address #{data.email}
                    div.contacts-row
                        case !!data.address
                            when true
                                span.address #{data.address}
                        case !!data.city && !!data.address
                            when true
                                span #{', '}
                        case !!data.city
                            when true
                                span.address #{data.city}
                        case !!data.city && !!data.country
                            when true
                                span #{', '}
                        case !!data.country
                            when true
                                span.address #{data.country}
                        case !!data.country && !!data.postal_code
                            when true
                                span #{', '}
                        case !!data.postal_code
                            when true
                                span.address #{data.postal_code}
                div.links-row
                    each link in data.links
                        case !!link.label
                            when true
                                a.text.links-item(href=link.link) #{link.label}
            div.body
                case !!data['professional summary']
                    when true
                        table
                            tbody
                                td.leftSide.sub-heading PROFILE
                                td.rightSide #{data['professional summary']}
                case !!data.works && !!data.works.length > 0
                    when true
                        table
                            thead
                                th.sub-heading EXPERIENCE
                            tbody
                                each work in data.works
                                    tr
                                        td.leftSide
                                            case !!work.employer || !!work.city
                                                when true
                                                    h2 #{(work.employer || '') + (work.employer && work.city ? ', ' : '') + (work.city || '')}
                                            case !!work.start_date
                                                when true
                                                    span #{work.start_date}
                                            case !!work.start_date
                                                when true
                                                    span #{' > ' + work.end_date}
                                        td.rightSide
                                            case !!work.title || !!work.position
                                                when true
                                                    h2 #{(work.title || '') + (work.title && work.position ? ', ' : '') + (work.position || '')}
                                            case !!work.description
                                                when true
                                                    span #{work.description}
                case !!data.educations && !!data.educations.length > 0
                    when true
                        table
                            thead
                                th.sub-heading EDUCATION
                            tbody
                                each edu in data.educations
                                    tr
                                        td.leftSide
                                            case !!edu.school || !!edu.city
                                                when true
                                                    h2 #{(edu.school || '') + (edu.school && edu.city ? ', ' : '') + (edu.city || '')}
                                            case !!edu.start_date
                                                when true
                                                    span #{edu.start_date}
                                            case !!edu.start_date
                                                when true
                                                    span #{' > ' + edu.end_date}
                                        td.rightSide
                                            case !!edu.degree || !!edu.position
                                                when true
                                                    h2 #{(edu.degree || '') + (edu.degree && edu.position ? ', ' : '') + (edu.position || '')}
                                            case !!edu.description
                                                when true
                                                    span #{edu.description}
                case !!data.skills && !!data.skills.length > 0
                    when true
                        table.skills
                            thead
                                th.sub-heading SKILLS
                            body
                                tr
                                    td.leftSide
                                    td.rightSide
                                        each skill in data.skills
                                            case !!skill.label || !!skill.level
                                                when true
                                                    div #{(skill.label || '') + (skill.label && skill.level ? ' - ' : '') + (skill.level || '')}
                case !!data.languages && !!data.languages.length > 0
                    when true
                        table.languages
                            thead
                                th.sub-heading LANGUAGES
                            tbody
                                each lan in data.languages
                                    case !!lan.label || !!lan.level
                                        when true
                                            tr
                                                td.leftSide
                                                    case !!lan.label
                                                        when true
                                                            h2 #{lan.label}
                                                td.rightSide
                                                    case !!lan.level
                                                        when true
                                                            span #{lan.level}
                case !!data.courses && !!data.courses.length > 0
                    when true
                        table.courses
                            thead
                                th.sub-heading COURSES
                            tbody
                                each course in data.courses
                                    case !!course.course || !!course.associated_with
                                        when true
                                            tr
                                                td.leftSide
                                                    case !!course.course
                                                        when true
                                                            h2 #{course.course}
                                                td.rightSide
                                                    case !!course.course
                                                        when true
                                                            span #{course.associated_with}

                case !!data.courses && !!data.courses.length > 0
                    when true
                        table.honors
                            thead
                                th.sub-heading HONORS
                            tbody
                                each honor in data.honors
                                    tr
                                        td.leftSide
                                            case !!honor.company
                                                when true
                                                    h2 #{honor.company}
                                                    span #{honor.date}
                                        td.rightSide
                                            case !!honor.title
                                                when true
                                                    h2 #{honor.title}
                                            case !!honor.email
                                                when true
                                                    span #{honor.email}
                case !!data.references && !!data.references.length > 0
                    when true
                        table.references
                            thead
                                th.sub-heading REFERENCES
                            tbody
                                each ref in data.references
                                    case !!ref.company || !!ref.designation || !!ref.email || !!ref.phone || !!ref.referrer
                                        when true
                                            tr
                                                td.leftSide
                                                    case !!ref.company
                                                        when true
                                                            h2 #{ref.company}
                                                    div #{ref.designation || ''}
                                                td.rightSide
                                                    case !!ref.email
                                                        when true
                                                            div #{ref.email}
                                                    case !!ref.phone
                                                        when true
                                                            div #{ref.phone}
                                                    case !!ref.referrer
                                                        when true
                                                            div #{ref.referrer}


